.project-card{
    float: left;
    list-style: none;
    margin: 40px;
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(224, 224, 224);
}

.project-card img{
    border-radius: 10px;
    height: 55%;
    width: 100%;
}


.info{
    position: relative;
    width: 90%;
    height: 40%;
    left: 5%;
}

.project-card h1{
    margin: 0;
    color: rgb(26, 26, 26);
    font-size: 130%;
    text-indent: 1vw;
}

.project-card h3{
    margin: 0.2vh;
    color: rgb(82, 82, 82);
    font-weight: 600;
    font-size: 100%;
}

.info .link{
    position: relative;
    bottom: -35px;
    text-align: right;
    margin: 0;
}